In [29]:
# dependencies and setup
import pandas as pd
from pathlib import Path

# file to load
student_data_to_load = Path("Resources/students_complete.csv")
school_data_to_load = Path("Resources/schools_complete.csv")

# read student and school data file and store into pandas dataframes
student_data = pd.read_csv(student_data_to_load)
school_data = pd.read_csv(school_data_to_load)

# combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [30]:
# calculate the total number of unique schools
school_count = len(school_data)
school_count

15

In [31]:
# calculate the total number of students
student_count = len(student_data)
student_count

39170

In [32]:
# calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [33]:
# calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [34]:
# calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [35]:
# calculate the percentage of students who passed math (greater or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [36]:
# calculate the percentage of students who passed reading (greater or equal to 70)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [37]:
# calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count / float(student_count) * 100
overall_passing_rate

65.17232575950983

In [38]:
#create a high-level snapshot of the district's key metrics in a dataframe
district_summary_df = pd.DataFrame({
    "Total Schools": school_count,
    "Total Students": f"{student_count:,}",
    "Total Budget": f"${total_budget:,.2f}",
    "Average Math Score": f"{average_math_score:.6f}",
    "Average Reading Score": f"{average_reading_score:.5f}",
    "% Passing Math": f"{passing_math_count:.6f}",
    "% Passing Reading": f"{passing_reading_count:.6f}",
    "% Overall Passing": f"{overall_passing_rate: .6f}"
}, index = [0])


#display dataframe
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,29370.000000,33610.000000,65.172326

## School Summary

In [39]:
#select all of the schools
school_name = school_data_complete.set_index('school_name').groupby(['school_name'])
school_type = school_data.set_index('school_name')['type']

In [40]:
#calculate the total student count per school
per_school_counts = school_name['Student ID'].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [41]:
# calculate the total school budget and per capita spending per school
per_school_budget = school_data.set_index('school_name')['budget']
per_school_capita = (school_data.set_index('school_name')['budget']/school_data.set_index('school_name'))

In [42]:
# calculate the average test scores per school
per_school_math = school_name['math_score'].mean()
per_school_reading = school_name['reading_score'].mean()

In [43]:
# calculate the number of students per school with math scores 70 and higher
students_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math["Student ID"].count()
school_students_passing_math

29370

In [44]:
# calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading["Student ID"].count()
school_students_passing_reading

33610

In [45]:
# calculate the number of students per school that passed both math and reading with 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["math_score"] >=70) & (school_data_complete["reading_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [46]:
# calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [47]:
# create a dataframe called 'per_school_summary' with columns for the calculations above

school_summary_df = pd.DataFrame({
      "School Type": school_type,
      "Total Students": per_school_counts,
      "Total School Budget": per_school_budget,
      "Per Student Budget": per_school_capita,
      "Average Math Score": average_math_score,
      "Average Reading Score": average_reading_score,
      "% Passing Math": passing_math_percentage,
      "% Passing Reading": passing_reading_percentage,
      "Percent Overall Passing Rate": overall_passing_rate})


# formatting
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

school_summary_df[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "Percent Overall Passing Rate"]].head()

school_summary_df

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

## Highest-Performing Schools (by % Overall Passing)

In [48]:
# sort schools by '% Overall Passing' in decending order and display the top 5 rows
top_schools = school_summary_df.sort_values("% Overall Passing", ascending = False)
top_schools.head(5)

NameError: name 'school_summary_df' is not defined

## Bottom Performing Schools (By % Overall Passing)

In [63]:
# sort the schools by '% Overall Passing' in ascending order and display top 5 rows
bottom_schools = school_summary_df.sort_values("% Overall Passing", ascending = True)
bottom_schools.head(5)

NameError: name 'school_summary_df' is not defined

## Math Scores by Grade

In [50]:
# separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# group by 'school_name' and take the mean of the 'math_score' column for each
ninth_grade_math_scores = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_grader_math_scores = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_grader_math_scores = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_grader_math_scores = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

# combine each of the scores into single dataframe
math_scores_by_grade = pd.DataFrame ({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})

# data wrangling
math_scores_by_grade.index.name = None

# display
math_scores_by_grade

SyntaxError: invalid syntax (2103153138.py, line 8)

## Reading Score by Grade

In [51]:
# separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_grader_reading_scores = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_grader_reading_scores = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_grader_reading_scores = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

# combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade =  pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})

# data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# DataFrame
reading_scores_by_grade

SyntaxError: invalid syntax (2385548241.py, line 8)

## Scores by School Spending

In [52]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [53]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = school_summary_df.copy()

NameError: name 'per_school_summary' is not defined

In [54]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

SyntaxError: invalid syntax (416621729.py, line 2)

In [55]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

NameError: name 'school_spending_df' is not defined

In [56]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

SyntaxError: invalid syntax (1784604702.py, line 2)

## Scores by School Size

In [57]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [58]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

SyntaxError: invalid syntax (3883193753.py, line 4)

In [64]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

NameError: name 'per_school_summary' is not defined

In [60]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

SyntaxError: invalid syntax (2591471974.py, line 3)

## Scores by School Type

In [61]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

NameError: name 'per_school_summary' is not defined

In [62]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary

SyntaxError: invalid syntax (3938338981.py, line 2)